---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AKIAICS462Z4WXWQKTZQ&AssociateTag=tag&IdType=ISBN&ItemId=020161622X&Operation=ItemLookup&ResponseGroup=Small,%20Images&SearchIndex=Books&Service=AWSECommerceService&Signature=W5VKcafg2sIChcsTqioUu5ZR4xtoSzHgA41yJjZNqsw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-04-05T07:00:04Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.2.0 (Language=Ruby; Hendriks-MacBook-Pro.local)"></Header></HTTPHeaders><RequestId>0341be66-fa35-4f3e-ac41-a68178686ca4</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AKIAICS462Z4WXWQKTZQ"></Argument><Argument Name="AssociateTag"
        Value="tag"></Argument><Argument Name="IdType" Value="ISBN"></Argument><Argument
        Name="ItemId" Value="020161622X"></Argument><Argument Name="Operation" Value="ItemLookup"></Argument><Argument
        Name="ResponseGroup" Value="Small, Images"></Argument><Argument Name="SearchIndex"
        Value="Books"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument Name="SignatureVersion"
        Value="2"></Argument><Argument Name="Timestamp" Value="2015-04-05T07:00:04Z"></Argument><Argument
        Name="Version" Value="2011-08-01"></Argument><Argument Name="Signature" Value="W5VKcafg2sIChcsTqioUu5ZR4xtoSzHgA41yJjZNqsw="></Argument></Arguments><RequestProcessingTime>0.0420420000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ISBN</IdType><ItemId>020161622X</ItemId><ResponseGroup>Small</ResponseGroup><ResponseGroup>Images</ResponseGroup><SearchIndex>Books</SearchIndex><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>020161622X</ASIN><DetailPageURL>http://www.amazon.com/The-Pragmatic-Programmer-Journeyman-Master/dp/020161622X%3FSubscriptionId%3DAKIAICS462Z4WXWQKTZQ%26tag%3Dtag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D020161622X</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/The-Pragmatic-Programmer-Journeyman-Master/dp/tech-data/020161622X%3FSubscriptionId%3DAKIAICS462Z4WXWQKTZQ%26tag%3Dtag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D020161622X</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D020161622X%26SubscriptionId%3DAKIAICS462Z4WXWQKTZQ%26tag%3Dtag%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3[...]
